body {
  padding: 0;
  margin: 0;
  font-family: monospace;
}

header {
  background-color: #282c34;
  color: white;
  padding: 20px 0;
}

h1 {
  margin: 0;
  font-size: 1.5rem;
}

h2 {
  margin-top: 0;
  color: #333;
}

main {
  padding: 40px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.hooks-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.hook-demo {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 2px 2px 7px #ddd;
  border: solid 1px #ccc;
}
.hook-demo:empty::before {
  content: 'COMING SOON...';
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  color: #aaa;
  font-size: 22px;
}
